body 
{
   
}

.box
{
    display:inline-block;
    width: 250px;
    min-height: 50px;
    font-size: 15px;
    padding: 10px 10px 10px 10px;
    margin:  5px 5px 5px 5px;
    border: 2px solid black;
    vertical-align: bottom;
}
p
{
    display:inline-block;
}

.MainContainer
{
    margin: 10px 10px 10px 10px;
    border: 2px solid white;
    display:inline-block;
}

.StepContainer
{
    display:inline-block;
    margin: 10px 10px 10px 10px;
    border: 2px solid white;
    
}
.button
{
    width:25px;
    height: 40px;
    font-size:5px;
    padding: 0px 0px 0px 0px;    
}

.innerMain
{
    
    
}

.buttons
{
    
}

.StepForwardButton
{
    float:right;
   
}

.StepBackwardButton
{
  
   
}

.answerBox
{
    width:25px;
    height: 15px;
    vertical-align:bottom;
    font-size:12px;
    outline:solid;
    outline-color:black;
    outline-width:1px;
}